<div class="container mb-3 mt-3">
<div class="row justify-content-center">
<div class="col-7 mt-4">
<div class="card text-center shadow mb-5 bg-white" >
<%= form_with(model: @user, local: false) do |form| %>
  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, class: "form-control shadow rounded", placeholder: "Enter you first-name" %>
  </div>
  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, class: "form-control shadow rounded", placeholder: "Enter you last-name" %>
  </div>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, class: "form-control shadow rounded", placeholder: "email@example.com" %>
  </div>
  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password,id: "password",onchange: "check_validation();" ,class: "form-control shadow rounded", placeholder: "*************" %>
  </div>
  <div>
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation,id: "confirmPassword", onchange: "check_password();" ,class: "form-control shadow rounded", placeholder: "*************" %>
  </div>
  <div>
    <%= form.label :subscription, style: "display: block" %>
    <%= form.check_box :subscription, id: "subscrip", onchange: "check_it_first();" %>
  </div>
  <div>
    <%= form.label :subscription_email, style: "display: block" %>
    <%= form.email_field :subscription_email, class: "form-control shadow rounded", placeholder: "Enter you subscription-email" %>
  </div>
 <div  class="my-3">
    <%= form.submit class: "btn btn-outline-primary btn-md" %>
  </div>
<% end %>

  <%# Inline Javascript   %>
  <%# 1. For password length  %>
<script>
  function check_validation()
  {
    var password = document.getElementById("password").value;
    if(password.length <= 5 || password.length > 12)
    {
      alert("password length should be in between 5 and 12 characters ")
      document.getElementById("password").value=" "
    }
  }
  // 2. For password confirmation 
  function check_password()
  {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    console.log(password)
    console.log(confirmPassword)
    if(password)
    {
      if (confirmPassword==password)
      {
        alert("your password is matched...")
        document.getElementById("check")
        document.getElementById("form_submit").style.display="block"
      }
      else
      {
        alert("your password is not matched... ")
        document.getElementById("form_submit").style.display="none"
      }
    }
    else
      {
        alert("password first type password")
        document.getElementById("confirm_password").value=""
      }
  }
   // 2. For subsvription confirmation 
  function check_it_first()
  {
    var checkBox = document.getElementById("subscrip");
    var email_field = document.getElementById("email");
    if (checkBox.checked == true)
    {
      email_field.style.display="block"
    }
    else
    {
      email_field.style.diplay="none"
    }
  }
</script>
