<tr id="userRow <%= user.id %>">
  <td><%= user.first_name %></td>
	<td><%= user.last_name %></td>	
	<td><%= user.subscription %></td>   
	<td><%= button_to "Show ", user_path(user.id), method: :get, form: { data: { turbo_confirm: "Are you sure to show user❓" } } %></td>
	<td><%= button_to "Show Profile", edit_user_path(user.id), title: "Profile page", method: :get %></td>
	<td><%= button_to "Destroy ", user_path(user.id), form: { data: { turbo_confirm: "Are you sure❓" } }, method: :delete %></td>
	<td><%= button_to "Change password", change_password_user_path(user.id), title: "Password page", form: { data: { turbo_confirm: "Are you sure to change password ?" } }, method: :get %></td>
</tr>
