<div class="container mb-3 mt-3">
<div class="row justify-content-center">
<div class="col-7 mt-4">
<div class="card text-center shadow mb-5 bg-white" >
<center>
  <div class="my-4">
    <h2 style="color:red"><mark>Change Password</mark></h2>
  </div>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p style = "color:red"><%= error %></p>
    <% end %>
  <% end %> 
  <%= form_with(method: :patch, url: password_update_user_path) do |form| %>
  <table cellpadding="15px"> 
  <tr>
  <td><%= form.label :password, "Enter your previous password" %></td>
  <td><%= form.password_field :password, id: "pw", onchange: "check_previous_pw();", id: "password" %></td>
   <span id = "message11" style="color:red"> </span></tr>
  <div id="obj" style="display:none;">
    <%= form.label :new_password, "Enter New Password" %><br>
    <%= form.password_field :new_password, id: "new_password", onchange: "check_pass();" %></td</tr>
    <p id = "message" style="color:red"> </p>
    <p id = "messages" style="color:red"> </p>
    <%= form.label :password_confirmation, "Enter New Confirm Password" %><br>
    <%= form.password_field :password_confirmation, id: "password_confirmation", onchange: "check_pass();" %>
    <p id = "message1" style="color:red"> </p><br>
    <div id="submit" style="display:none;"> <%= form.submit "Submit", class: "btn btn-success btn-md my-4" %> </div>
  </table>

<% end %>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li style="color:red;"><%= error %></li>
    <% end %>
  </ul>
<% end %>
</div>
<script>
  function check_previous_pw(){
    var pre_pw = "<%= @user.password %>"
    if(document.getElementById("password").value == pre_pw)
    {
      document.getElementById("message11").innerHTML="✅Previous password is matched!";
      document.getElementById("obj").style.display = "block";
    }
    else 
    {
      document.getElementById("message11").innerHTML=" ❌ Previous password is incorrect!";
      document.getElementById("obj").style.display = "none";
    }
  }
  function check_pass() {
  var el = document.getElementById("submit");
  var pw = document.getElementById('new_password').value
  var cpw = document.getElementById('password_confirmation').value 
  var regularExpression  = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
  if(!regularExpression.test(pw)) {
    document.getElementById("message").innerHTML=
    "Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character";
  }
  else
  {
    document.getElementById("message").innerHTML=" ✅ Password is strong....  " 
  }
  if (pw == cpw) {
    el.style.display= 'block';
    document.getElementById("message1").innerHTML="";
  } else {
    el.style.display= 'none';
    document.getElementById("message1").innerHTML="Password and confirm Password must be same!";
  }
}
</script>
