<div class="container mb-3 mt-3">
<div class="row justify-content-center">
<div class="col-7 mt-4">
<div class="card text-center shadow mb-5 bg-white" >
<h1 class="text-center">User profile</h1>
<%= form_with(model: @user) do |form| %>
  <div>
	  <%= form.label :email %></br>
		<%= form.text_field :email %>
	</div>

	<div>
	  <%= form.label :password %></br>
		<%= form.password_field :password %>
	</div>

	<div>
	  <%= form.label :subscribe %><br/>
		<%= form.check_box :subscription %>
	</div>

	<div>
	  <%= form.label :subscription_email %><br/>
		<%= form.text_area :subscription_email %>
	</div>

	<div>
	  <%= form.submit %>
	</div>

<% end %>
