<div class="col-lg-6 mx-lg-auto">
<div class="card shadow">
<div class="card-header">
<h2 class="card-title text-center", style="color:red;">User Detials</h2>
<center>
  <div class="col-lg-7 mb-3 mt-3">
    <div class="card" >
      <div class="card-body">
        <th ><strong><u> Name:</u></strong></th><br/>
        <td><%= @user.first_name + " " + @user.last_name %></th><br/>
        <th><b><u>Email:</u></b></th><br/>
        <td><%= @user.email %></th><br/>
        <th><b><u>Subscription:</u></th></b><br/>
        <td><%= @user.subscription %></th><br/>
        <th><b><u>Password:</u></th></b><br/>
        <td><%= @user.password %></th><br/>
				<th><b><u>Subscription Email:</u></th></b><br/>
        <td><%= @user.subscription_email %></th><br/>		
      </div>
    </div>
  </div>
</center>
</div>

<center>
<div>
  <td><%= button_to "Back ", users_path(@user), method: :get, class: "btn btn-primary float-right my-3 " %></td>
</div>
</center>
